services:
  - type: web
    name: animal-human-detection
    env: python
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements-deploy.txt
    startCommand: gunicorn --worker-class=gevent --workers 1 --timeout 300 app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: FLASK_ENV
        value: production
    plan: free
    numInstances: 1
    healthCheckPath: /
    autoDeploy: true
