flask
flask-cors
werkzeug
python-dotenv
torch
torchvision
ultralytics
opencv-python
numpy
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
python-dateutil
pyzmq
stack-data
tornado
traitlets
wcwidth
absl-py
accelerate
aenum
aiobotocore
aiofiles
aiohappyeyeballs
aiohttp
aiohttp-retry
aioitertools
aiosignal
alabaster
albucore
albumentations
alembic
altair
anaconda-anon-usage
anaconda-auth
anaconda-catalogs
anaconda-client
anaconda-cli-base
anaconda-navigator
anaconda-project
annotated-types
anyio
appdirs
archspec
argcomplete
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
astunparse
asyncssh
async-lru
atomicwrites
attrs
audioop-lts
audioread
Authlib
Automat
autopep8
babel
backoff
backports.zstd
bcrypt
beautifulsoup4
binaryornot
bitsandbytes
black
bleach
blinker
bokeh
boltons
boto3
botocore
Bottleneck
Brotli
build
cachetools
catboost
certifi
cffi
chardet
charset-normalizer
chromadb
click
cloudpickle
colorama
colorcet
coloredlogs
colorlog
comm
comtypes
conda
conda-anaconda-telemetry
conda-anaconda-tos
conda-build
conda-content-trust
conda_index
conda-libmamba-solver
conda-pack
conda-package-handling
conda_package_streaming
conda-repo-cli
conda-token
constantly
contourpy
cookiecutter
coverage
crewai
cryptography
cssselect
cssselect2
currency_converter
cycler
cyclopts
cytoolz
dacite
dask
dask-expr
databricks-sdk
dataclasses-json
datasets
datashader
debugpy
decorator
deepgram-sdk
defusedxml
Deprecated
deprecation
diff-match-patch
dill
diskcache
distlib
distributed
distro
dnspython
docker
docstring_parser
docstring-to-markdown
docutils
durationpy
easyocr
ecdsa
email-validator
et_xmlfile
evalidate
evaluate
excel
exceptiongroup
executing
faiss-cpu
fastapi
fastjsonschema
fastmcp
ffmpeg-python
ffmpy
fiftyone
fiftyone-brain
fiftyone_db
filelock
flake8
Flask
flask-cors
Flask-Mail
Flask-PyMongo
flatbuffers
fonttools
fqdn
frozendict
frozenlist
fsspec
ftfy
future
gast
gevent
gitdb
GitPython
glob2
gmpy2
googleapis-common-protos
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
gradio
gradio_client
graphene
graphql-core
graphql-relay
graphviz
greenlet
groovy
groq
grpcio
grpcio-status
gTTS
gunicorn
h11
h2
h5py
HeapDict
hf-xet
holoviews
hpack
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
humanize
hvplot
Hypercorn
hyperframe
hyperlink
idna
imageio
imagesize
imbalanced-learn
importlib_metadata
importlib_resources
incremental
inflate64
inflection
iniconfig
inquirerpy
instructor
intake
intervaltree
ipykernel
ipython
ipywidgets
isodate
isoduration
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
jellyfish
Jinja2
jinja2-time
jiter
jmespath
joblib
jplephem
json5
jsonlines
jsonpatch
jsonpickle
jsonpointer
jsonref
jsonschema
jsonschema-path
jsonschema-specifications
json_repair
jupyter
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
kagglehub
keras
keyring
kiwisolver
kubernetes
langchain
langchain-core
langchain-text-splitters
langsmith
lazy_loader
lazy-object-proxy
lckr_jupyterlab_variableinspector
lia-web
libarchive-c
libclang
libmambapy
librosa
lief
lightgbm
lightning-utilities
linkify-it-py
litellm
llvmlite
lmdb
locket
lxml
lz4
Mako
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mccabe
mcp
mdit-py-plugins
mdurl
menuinst
mistune
mkl_fft
mkl_random
mkl-service
mlflow
mlflow-skinny
mlflow-tracing
ml_dtypes
mmh3
mongoengine
more-itertools
motor
mpmath
msgpack
multidict
multipledispatch
multiprocess
multivolumefile
mypy
mypy_extensions
mysql-connector-python
namex
narwhals
navigator-updater
nbclient
nbconvert
nbformat
nest_asyncio
networkx
ninja
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
oauth2client
oauthlib
onnxruntime
openai
openapi-core
openapi-pydantic
openapi-schema-validator
openapi-spec-validator
opencv-python
opencv-python-headless
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
optree
opt_einsum
orjson
overrides
packaging
pandas
pandocfilters
panel
param
paramiko
parse
parsel
parso
partd
passlib
pathable
pathspec
patsy
pdfminer.six
pdfplumber
peft
pexpect
pfzy
pickleshare
pillow
pinecone-client
pinecone-plugin-interface
pip
pipenv
pkce
pkginfo
platformdirs
plotly
pluggy
ply
polars
polars-runtime-32
pooch
portalocker
posthog
poyo
pprintpp
priority
prometheus_client
prompt_toolkit
propcache
Protego
protobuf
proto-plus
psutil
ptyprocess
pure-eval
py7zr
pyarrow
pyasn1
pyasn1-modules
PyAudio
pybase64
pybcj
pyclipper
pycodestyle
pycosat
pycparser
pycryptodome
pycryptodomex
pyct
pycurl
pydantic
pydantic_core
pydantic-settings
pydash
PyDispatcher
pydocstyle
PyDrive
pydub
pydyf
pyerfa
pyflakes
PyGithub
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder
pymongo
PyNaCl
pyodbc
pyOpenSSL
pyparsing
pypdf
PyPDF2
pypdfium2
pyperclip
pyphen
PyPika
pypiwin32
pyppmd
pyproj
pyproject_hooks
PyQt5
PyQt5_sip
PyQtWebEngine
pyreadline3
PySocks
pytesseract
pytest
pytest-asyncio
pytest-cov
python-bidi
python-dateutil
python-dotenv
python-jose
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-multipart
python-slugify
pytoolconfig
pyttsx3
pytz
pyuca
pyvis
pyviz_comms
PyWavelets
pywin32
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
pyzstd
py-cpuinfo
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
rarfile
readchar
referencing
regex
reportlab
requests
requests-file
requests-oauthlib
requests-toolbelt
retrying
rfc3339_validator
rfc3986_validator
rich
rich-rst
roman-numerals-py
rope
rpds-py
rsa
Rtree
ruamel.yaml
ruamel.yaml.clib
ruamel_yaml_conda
ruff
s3fs
s3transfer
safehttpx
safetensors
scikit-image
scikit-learn
scipy
Scrapy
seaborn
semantic-version
semver
Send2Trash
sentencepiece
sentence-transformers
sentry-sdk
service-identity
setuptools
sgp4
shapely
shellingham
simsimd
sip
six
sklearn-compat
skyfield
smmap
sniffio
snowballstemmer
sortedcontainers
sounddevice
soundfile
soupsieve
soxr
SpeechRecognition
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinx-autodoc-typehints
sphinx-rtd-theme
spyder
spyder-kernels
SQLAlchemy
sqlparse
sseclient-py
sse-starlette
stack-data
standard-aifc
standard-chunk
standard-sunau
starlette
statsmodels
strawberry-graphql
streamlit
stringzilla
superqt
swisseph
sympy
tables
tabulate
tblib
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
terminado
textblob
textdistance
texttable
text-unidecode
tf_keras
threadpoolctl
three-merge
tifffile
tiktoken
tinycss2
tinyhtml5
tldextract
tokenizers
toml
tomli
tomli_w
tomlkit
toolz
torch
torchaudio
torchmetrics
torchvision
tornado
tqdm
traitlets
transformers
truststore
twilio
Twisted
twisted-iocpsupport
typer
typer-slim
typing_extensions
typing-inspect
typing-inspection
tzdata
tzlocal
uc-micro-py
ujson
ultralytics
ultralytics-thop
Unidecode
universal-analytics-python3
uritemplate
uri-template
urllib3
uuid
uv
uvicorn
virtualenv
voxel51-eta
w3lib
waitress
wandb
watchdog
watchfiles
wcwidth
weasyprint
webcolors
webencodings
websockets
websocket-client
Werkzeug
whatthepatch
wheel
widgetsnbextension
win_inet_pton
wordcloud
wrapt
wsproto
xarray
xgboost
xlwings
xmltodict
xxhash
xyzservices
yapf
yarl
zict
zipp
zope.interface
zope.event
zopfli
zstandard
autocommand
backports.tarfile
importlib_metadata
inflect
jaraco.collections
jaraco.context
jaraco.functools
jaraco.text
more-itertools
packaging
platformdirs
tomli
typeguard
typing_extensions
wheel
zipp
